.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: relative; /* Necesario para el menú desplegable */
}

.logoImg {
  width: 100px;
  height: auto;
}

.nav {
  flex-grow: 1;
  margin-left: 40px;
  display: flex;
  justify-content: center;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  font-size: 16px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLinks li a {
  color: #555;
  text-decoration: none;
}

.navLinks li a:hover {
  color: #ff6347; /* Cambiar al color que se ajuste a la paleta de tu sitio */
}

.button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e55335;
}

/* Estilos para el botón de menú */
.menuButton {
  display: none; /* Ocultar el botón en pantallas grandes */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
}

.menuIcon {
  width: 25px;
  height: 3px;
  background-color: #555;
  margin: 5px 0;
}

/* Mostrar el botón de menú y ocultar el menú en pantallas pequeñas */
@media (max-width: 768px) {
  .nav {
    display: none; /* Ocultar el menú de navegación por defecto */
    position: absolute;
    top: 60px; /* Ajusta según el tamaño del header */
    right: 0;
    background-color: #ffffff;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ddd;
    z-index: 1000; /* Asegurarse de que el menú esté por encima de otros elementos */
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  .navOpen {
    display: flex; /* Mostrar el menú cuando está abierto */
  }

  .menuButton {
    display: block; /* Mostrar el botón en pantallas pequeñas */
    margin-right: 10px;
  }

  .navLinks {
    flex-direction: column;
  }

  .navLinks li {
    font-size: 18px;
    margin: 10px 0;
  }

  .button{
    display: none;
  }
}

